{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.monday day_id="monday" %}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.tuesday day_id="tuesday" %}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.wednesday day_id="wednesday"%}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.thursday day_id="thursday" %}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.friday day_id="friday" %}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.saturday day_id="saturday" %}
{% include 'MealPlans/HTMLWidgets/DayWidget/DayWidget.html' with day=instance.sunday day_id="sunday" %}